<footer class=" text-center">
        <div>
            <div >
              <a href="/home" class="text-light text-decoration-none mx-2"> &nbsp;Home&nbsp;</a> 
              <a href="/profilo" class="text-light text-decoration-none mx-2"> &nbsp;Profilo&nbsp;</a>
              <a href="/collezione" class="text-light text-decoration-none mx-2"> &nbsp;Collezione&nbsp;</a>
              <a href="/deckbuilder" class="text-light text-decoration-none mx-2"> &nbsp;Deckbuilder&nbsp;</a>
            </div>
          </div>
      <div>
        <div >
            <p class="text-light text-decoration-none ">Il tuo autosalone di fiducia</p>
          <p class="text-light text-decoration-none ">Via Dei Concessionari 14
            Roma, 00100</p>
          <p class="text-light text-decoration-none">Email: autorent&#64;autorent.com 
            Telefono: 123-456789</p>
        </div>
      </div>
  </footer>