body {    
    background-color:#651BB7;
}

h1 {
    color: #2B0754;
}

h2 {
    color: white;
}

p {
    color: white;
}

#profiloContainer {
    
    width: 50%;
    background-color: #A35DCA;
    border: 3px solid #2B0754 ;
    border-radius: 10px;
}

.profile {
    min-height: 100vh;
}