<main class="text-center">
    <div>
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7cef25d8-f84e-45df-82da-48cc8a866527/dhjtjzk-82e7a8d9-2a13-4258-bbec-c8e74bf1a51d.png/v1/fill/w_1264,h_632/logo_marvel_snap_by_hilsonity_dhjtjzk-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTYwIiwicGF0aCI6IlwvZlwvN2NlZjI1ZDgtZjg0ZS00NWRmLTgyZGEtNDhjYzhhODY2NTI3XC9kaGp0anprLTgyZTdhOGQ5LTJhMTMtNDI1OC1iYmVjLWM4ZTc0YmYxYTUxZC5wbmciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.9_ZVazLBU5xgeuh3RckAn11b4TY1urBIsWyfuBmF1qw"
      alt="Logo del Sito" id="snapLogo" class="mb-4">
    </div>

    <div class="p-5">
    <app-cardlist [cardArray]="cardArray"></app-cardlist>
   </div>
</main>