<footer class="text-center">
  <div>
    <div>
      <a href="/home" class="text-light fw-bold text-decoration-none mx-2">
        &nbsp;Home&nbsp;</a
      >
      <a href="/profilo" class="text-light fw-bold text-decoration-none mx-2">
        &nbsp;Profilo&nbsp;</a
      >
      <a href="/collezione" class="text-light fw-bold text-decoration-none mx-2">
        &nbsp;Collezione&nbsp;</a
      >
      <a href="/deckbuilder" class="text-light fw-bold text-decoration-none mx-2">
        &nbsp;Deckbuilder&nbsp;</a
      >
    </div>
  </div>
  <div>
    <div class="mt-4">
      <p class="text-light fw-bold text-decoration-none">
        Mantieni sempre aggiornata la tua collezione!
      </p>
      <p class="text-light text-decoration-none">
        Linkedin:
        <a
          href="https://www.linkedin.com/in/leonardo-maria-leoni-a12a22231/"
          class="text-light text-decoration-none"
          >Leonardo Maria Leoni</a
        >
      </p>
      <p class="text-light text-decoration-none">
        Email:
        <a href="" class="text-light text-decoration-none"
          >leonardomarialeoni&#64;gmail.com
        </a>
      </p>
      <p class="text-light text-decoration-none">
        Instagram:
        <a
          href="https://www.instagram.com/trading_card_secco?igsh=MTExYnVyejl2dmRjaQ=="
          class="text-light text-decoration-none"
          >trading_card_secco</a
        >
      </p>
    </div>
  </div>
</footer>
